@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: #4a274f;
    display: flex;
}

a {
    color: #afd6aa;
    text-decoration: none;
}

p {
    font-family: "mihiPixelmoji";
    color: #4a274f;
    text-align: center;
    font-size: 32px;
}

.font {
    font-family: "mihiPixelmoji";
    text-align: center;
    font-size: 10px;
}

.center {
    display: flex;
}

.page_content {
    display: flex;
}

main {
    width: 600px;
    height: 300px;
    flex: 1;
}

#wrapper {
    
    max-width: 600px;
    max-height: 600px;
    margin: 0px auto;
    padding: 15px;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

@keyframes wave {
    100% {
        transform: translate3d(0, -10px, 0);
    }
}

.wave {
    display: block;
    text-align: center;
    position: relative;
    top: 27px;
    max-width: 1000px;
    max-height: 200px;
}

.wave span {
    display: inline-block;
    color: #afd6aa;
    font-size: 64px;
}

.wave:hover span {
    animation-name: wave;
    animation-duration: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

.wave:hover span:nth-child(2) {
    animation-delay: 0.1s;
}

.wave:hover span:nth-child(3) {
    animation-delay: 0.2s;
}

.wave:hover span:nth-child(4) {
    animation-delay: 0.3s;
}

.wave:hover span:nth-child(5) {
    animation-delay: 0.4s;
}

.wave:hover span:nth-child(6) {
    animation-delay: 0.5s;
}

.wave:hover span:nth-child(7) {
    animation-delay: 0.6s;
}

.wave:hover span:nth-child(8) {
    animation-delay: 0.7s;
}

.style {
    background-color: #afd6aa;
    margin-top: 4px;
    margin-bottom: 32px;
}

.style2 {
    background-color: #4a274f;
    color: #afd6aa;
    margin: 0;
}

.style3 {
    background-color: #4a274f;
    color: #afd6aa;
    margin: 8px;
    font-size: 16px;
    text-align: start;
}

.download {
    background-color: #4a274f;
    color: #afd6aa;
    margin: 8px;
    font-size: 16px;
    text-align: center;
}


.title {
    background-color: #4a274f;
    color: #afd6aa;
    margin: 0;
    font-size: 64px;
    
}

@font-face {
    font-family: "mihiPixelmoji";
    src: url("mihipixelmoji.woff") format("woff");
}